body {
    border: none;
    /* Prevent selection of text */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
header {
    display: none;
}
p {
    margin-top: 0;
}
header, main, footer {
    padding: 20px;
}
main {
    max-width: none;
}

#game {
    /* Will be overridden when connection is successful. */
    display: none;
}
#warning:empty {
    display: none;
}
.cards#selection {
    display: inline-block;
}
.cards {

}
.card {
    vertical-align: top;
    display: inline-block;
    width: 2in;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 20px;
    height: 2.8in;
    font-size: 20px;
    border-radius: 5px;
    background-position: 90% 95%;
    background-repeat: no-repeat;
    background-size: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.card.white {
    background-color: white;
    color: #111;
    background-image: url('/static/images/cah_black.png');
    cursor: pointer;
}
.card.black {
    background-color: #111;
    color: white;
    background-image: url('/static/images/cah_white.png');
}
.card:empty {
    background-position: center center;
    background-size: 60%;
}
.cards.disabled {
    opacity: 0.5;
}
.cards.disabled .card {
    cursor: not-allowed;
}
