@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    font-family: 'PT Sans', serif;
    font-size: 20px;
    background: white;
    color: #333;
    border-top: 8px solid #00356b;
}
header, main, footer {
    padding: 10px 20px;
}
header {
    padding-bottom: 20px;
    padding-top: 30px;
}
h1 {
    font-size: 100px;
    color: #00356b;
    line-height: 1;
}
header img {
    max-width: 100%;
}
h3 {
    font-size: 30px;
}
main {
    max-width: 12in;
}
section {
    margin-bottom: 20px;
}
section:last-of-type {
    margin-bottom: 0;
}
p {
    padding: 10px 0;
}
ul {
    margin-left: 25px;
}
a {
    color: #00356b;
}
select, input, .button {
    font: inherit;
    margin: 2px 0;
    outline: none;
}
input[type="text"] {
    width: 300px;
    display: block;
}
#avatar_preview {
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-position: center;
}
label {
    display: block;
}
.button {
    color: #00356b;
    background: none;
    padding: 8px 10px;
    border: solid 2px #00356b;
    text-decoration: none;
    vertical-align: middle;
    transition: 0.5s color background;
    cursor: pointer;
    display: inline-block;
}
.button:hover, .button:focus, .button:active {
    color: white;
    background: #00356b;
    transition: 0.6s color background;
}
th, td {
    padding: 0 10px;
}
th:first-child, td:first-child {
    padding-left: 0;
}
.button.delete {
    border-color: #ea0404;
    color: #ea0404;
}
.button.delete:hover, .button.delete:focus, .button.delete:active {
    color: white;
    background-color: #ea0404;
}
.button-row {
    margin: 10px 0 20px;
}
.button.groupme {
    border-color: #00aff0;
    color: #00aff0;
}
.button.groupme:hover, .button.groupme:focus, .button.groupme:active {
    color: white;
    background-color: #00aff0;
}
table img {
    width: 50px;
}
footer {
    color: #aaa;
    font-size: 10px;
}
footer a {
    color: inherit;
}

.meme {
    display: inline-block;
}
.meme img {
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
table#analytics {
    border-collapse: collapse;
}
table#analytics td {
    border: solid 1px #333;
    text-align: right;
}

@media (min-width: 800px) {
    header, main, footer {
        padding: 10px 60px;
    }
    header {
        padding-top: 25px;
    }
    header img {
        height: 100px;
        margin-left: -20px;
    }
}
