Flask
Flask-SQLAlchemy
Flask-Cache
eventlet
psycopg2
gunicorn>=19.9.0
zalgoify>=1.0
upsidedown
pillow
GroupyAPI
beautifulsoup4
praw
numpy
random-word
aiohttp
cmake
face_recognition

ocrspace

termcolor
yaledining>=1.0.0
yalebuildings
yalecourses>=0.1.4
yaledirectory
yaleorgdirectory
morse-talk
