Flask
Flask-SQLAlchemy
eventlet
psycopg2
gunicorn>=19.9.0
zalgoify>=1.0
upsidedown
pillow
GroupyAPI
beautifulsoup4
praw
numpy
random-word

cmake
face_recognition

ocrspace

discord.py

pymessenger
termcolor
yaledining>=0.1.1
yalebuildings
yalecourses>=0.1.4
yaledirectory
yaleorgdirectory
morse-talk
