Flask
Flask-SQLAlchemy
psycopg2
gunicorn==19.6.0
zalgoify>=1.0
upsidedown
pillow
GroupyAPI
beautifulsoup4
praw
numpy

cmake
face_recognition

git+https://github.com/ErikBoesen/ocr_space.git#egg=ocr_space
