@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    font-family: 'PT Sans', serif;
    font-size: 16px;
    background: white;
    color: #333;
    border-top: 8px solid #00356b;
}
header, main, footer {
    padding: 10px 40px;
}
header {
    padding-bottom: 20px;
}
header #logo {
    height: 80px;
    margin-top: 10px;
}
section {
    margin-bottom: 20px;
}
section:last-of-type {
    margin-bottom: 0;
}
a {
    color: #00356b;
}
select, input, .button {
    font: inherit;
    margin: 2px 0;
    outline: none;
}
input[type="text"] {
    width: 300px;
    display: block;
}
#avatar_preview {
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-position: center;
}
label {
    display: block;
}
.button {
    color: #00356b;
    background: none;
    padding: 8px 10px;
    border: solid 2px #00356b;
    text-decoration: none;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}
.button:hover, .button:focus, .button:active {
    color: white;
    background: #00356b;
    transition: 0.6s;
}
th, td {
    padding: 0 10px;
}
th:first-child, td:first-child {
    padding-left: 0;
}
.button.delete {
    border-color: #ea0404;
    color: #ea0404
}
.button.delete:hover, .button.delete:focus, .button.delete:active {
    color: white;
    background-color: #ea0404;
}
table img {
    width: 50px;
}
footer {
    color: #aaa;
    font-size: 10px;
}
footer a {
    color: inherit;
}
