{% extends "layout.html" %}
{% block main %}
<p>You are in {{ groups|length }} groups.</p>
<form action="/create" method="post">
    <input name="access_token" type="hidden" value="{{ access_token }}">
    <select name="group_id">
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>
    <p>Optional customizations:</p>
    <input name="name" type="text" placeholder="Custom bot name">
    <input name="avatar_url" type="text" placeholder="Custom avatar image URL">
    <input type="submit" value="Create bot">
</form>
{% endblock %}
