{% extends "layout.html" %}
{% block main %}
<h3>A GroupMe chatbot for Yale University.</h3>
<p>Yalebot boasts a wide variety of capabilities, including meme generation, face-recognition photo filters, inspirational quote generation, fun facts, and verification that a user is Yale-affiliated. It is an ideal tool for Yale GroupMe chats (although it's also active in non-Yale chats, such as those of the University of Pennsylvania, Ivy League 2023, University of Michigan, etc.). The bot is maintained by <a href="https://erikboesen.com"</a>Erik Boesen</a> '23.</p>
<div class="button-row">
    <a class="button groupme" href="http://www.mebots.co/bot/yalebot">Add on GroupMe</a>
</div>
<p>NOTE: This bot formerly ran on Facebook Messenger and Discord. This functionality was rarely used and as such is no longer supported.</p>
<h3>Bot capabilities</h3>
<p>Static commands: {% for static_command in static_commands %}<strong>!{{ static_command }}</strong>{{ ", " if not loop.last }}{% endfor %}</p>
<ul>
    {% for command, description in commands %}
    <li><strong>!{{ command }}</strong>: {{ description }}.</li>
    {% endfor %}
</ul>
{% endblock %}
