<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yalebot</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1>Yalebot</h1>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="https://erikboesen.com">Erik Boesen</a>. YaleNew font is property of Yale University. Not created or endorsed by Yale University or affiliates.
        </footer>
    </body>
</html>
