<!DOCTYPE html>
<html>
    <head>
        <title>Yalebot</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <header>
            <img src="/static/images/logo.png" alt="Yalebot logo" id="logo">
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="https://erikboesen.com">Erik Boesen</a>. YaleNew font is property of Yale University. Not created or endorsed by Yale University or affiliates.
        </footer>
    </body>
</html>
