<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yalebot</title>
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#00356b">
        <link rel="stylesheet" href="/static/style.css">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-7724286756573875",
                enable_page_level_ads: true
            });
        </script>
    </head>
    <body>
        <header>
            <h1>Yalebot</h1>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            &copy; <a href="https://erikboesen.com">Erik Boesen</a>.
        </footer>
    </body>
</html>
