{% extends "layout.html" %}
{% block main %}
<section>
    <h2>Add Yalebot to a group</h2>
    <form method="post">
        <select name="group_id">
            {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <label>Bot name: <input name="name" type="text" value="Yalebot"></label>
        <label>Bot avatar: <input name="avatar_url" type="text" value="https://i.groupme.com/310x310.jpeg.1c88aac983ff4587b15ef69c2649a09c"></label>
        <div id="avatar_preview"></div>
        <input type="submit" class="button" id="add" value="Add bot">
    </form>
</section>
<section>
    <h2>Active groups</h2>
    <table>
        <thead>
            <th>Avatar</th>
            <th>Bot ID</th>
            <th>Group</th>
            <th>Name</th>
            <th></th>
        </thead>
        <tbody>
            {% for bot in bots %}
            <tr>
                <td><img src="{{ bot.avatar_url }}"></td>
                <td>{{ bot.bot_id }}</td>
                <td>{{ bot.group_name }}</td>
                <td>{{ bot.name }}</td>
                <td><button class="button delete" group_id="{{ bot.group_id }}">Leave</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script src="/static/scripts/manager.js"></script>
{% endblock %}
